@font-face {
  font-family: "SEGA LOGO FONT";
  font-style: normal;
  font-weight: normal;
  src: local("SEGA LOGO FONT"), url("SEGA.woff") format("woff");
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgb(25, 24, 61);
  background: linear-gradient(
    169deg,
    rgba(25, 24, 61, 1) 0%,
    rgba(0, 153, 164, 1) 47%,
    rgba(38, 172, 163, 1) 100%
  );
}

h1 {
  font-family: "SEGA LOGO FONT";
  font-weight: 200;
  color: white;
}
